
:root {
  --yt-navy: rgb(33, 33, 59);
}

.header-component {
  background-color:var(--yt-navy);
  padding:5px;
  text-align:center;
  position:fixed;
  top:0;
  width:100%;
  z-index:2;
}

.header-component h1{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size:1.7rem;
  line-height:1.3em;
}