.query-input-container {
  margin-top:6rem;
  text-align:center;
}

.query-input-container label {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:1.5rem;
}

.query-input-container input {
  font-size:1.5rem;
  margin-top:1rem;
  border-radius:3px;
  height:2em;
  box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.463);
  text-align:center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}