.video-instance-container {
  text-align:center;
  border-radius:4px;
  padding:8px;
  cursor:pointer;
  box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.177);
}


.video-instance-container:hover {
  background-color:rgba(0, 0, 0, 0.122);
}


.vi-title {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:bold;
  margin-bottom:1em;
}

.vi-description {
  font-size:.8rem;
  margin-top:1rem;
  font-family:Roboto;
}

.add-button {
  margin-top:1em;
}